<div class="container">
	<form class="form-horizontal" [formGroup]="form">
	<!-- User Name -->
		    <div class="form-group" [ngClass]="displayFieldCss('uname')">
			    <div class="col-sm-12">
			      <label for="uname" class="control-label required">User Name</label>
			      <input type="text" id="uname" class="form-control" [(ngModel)]="user.username"  formControlName="uname">
			      <app-field-error-display [displayError]="isFieldValid('uname')" errorMsg="Please inform your name">
			      </app-field-error-display>
			    </div>
		    </div>
		    <!-- Password -->
		    <div class="form-group" [ngClass]="displayFieldCss('password')">
			    <div class="col-sm-12">
			      <label for="password" class="control-label required">Password</label>
			      <input type="password" id="password" class="form-control" [(ngModel)]="user.password"  formControlName="password">
			      <app-field-error-display [displayError]="isFieldValid('password')" errorMsg="Please inform your name">
			      </app-field-error-display>
			    </div>
		    </div>
		    <button class="btn btn-primary" (click)="secureLogin()">Submit</button>
		</form>
</div>